.products {
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;              
  width: 100%;
  border: none;
  margin-top: 15px;
}

.products > * {
  flex: 0 0 250px; 
}
.heart{
    padding-top: 150px;

}